<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Red Planet News</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 class="display-6"><strong>Welcome to the Red Planet Newsroom</strong></h1>
        <h1 class="display-2"><strong>The Mission to Mars</strong></h1>
        <br>
        <a class="btn btn-danger btn-lg" href="scrape" role="button">Scrape the web for the Latest News</a>
      </div>
    </div>
  
    <div class="container">
      <h4>The Latest Three Mars News Stories</h4>
      <h6>Go ahead, click on the headlines!!!</h6>
      <div class="row">
        <div class="col-md-12 border border-danger">
          {% for headline in The_News.Headlines %}
            <h6><strong><a href={{headline.url}} target="_blank">{{ headline.title }}</a></strong></h6>
            <h6>{{ headline.teaser }}</h6><br>
          {% endfor %}
        </div>
      </div>
      <br><br>
    </div>

    <div class="container">
      <div class='row'>
        <div class="col-md-7">
          <h4>Featured Mars Image</h4>
          <img class="img-fluid" src={{ The_News.Featured_Image }} alt="...">
        </div>
        <div class="col-md-5">
          <div class="container">
            <div class="row border border-danger">
              <div class="col-md-12">
                <br>
                <h4>Current Weather on Mars</h4>
                <h5>{{ The_News.Weather }}</h5>
                <br>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <h4>Fun Facts about Mars</h4>
                 {{ The_News.Facts | safe}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>Mars Hemispheres</h4>
          <hr>
        </div>
      </div>
      <div class="row">
        {% for hemisphere in The_News.Hemispheres %}
          <div class='col-md-1'></div>
          <div class="col-md-4"> 
            <div class="container text-center border border-danger m-2">  
              <img class="img-fluid" width="200" height="200" src={{ hemisphere.img_url }} alt="...">
              <h6>{{ hemisphere.title }}<h6>
            </div>   
          </div>  
          <div class='col-md-1'></div>
        {% endfor %}
      </div>
    </div>

    <br>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 class="display-6"><strong>Music from Mars</strong></h1>
        <br>
        <a class="btn btn-danger btn-lg" href="https://youtu.be/SR6iYWJxHqs" target="_blank" role="button">Click here for Music from Mars</a>
      </div>
    </div>
    <br>
    <br>
    <br>

  </body>

</html>
